.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px -4px 9px 0px rgba(224, 224, 224, 1);
  -moz-box-shadow: 0px -4px 9px 0px rgba(224, 224, 224, 1);
  box-shadow: 0px -4px 9px 0px rgba(224, 224, 224, 1);
  font-weight: bold;
  font-size: 17px;
}
