.profile-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 16px 9px 42px -16px rgba(105, 105, 105, 1);
  -moz-box-shadow: 16px 9px 42px -16px rgba(105, 105, 105, 1);
  box-shadow: 16px 9px 42px -16px rgba(105, 105, 105, 1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  padding: 10px 0px;
}

.profile-item-image {
  height: 200px;
  width: fit-content;
  margin-bottom: 15px;
}

.profile-item:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.025);
}

.profile-cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px 100px 20px;
  background-color: yellowgreen;
}

.profile-title {
  margin-top: 120px;
  margin-bottom: 25px;
}

@media (max-width: 1340px) {
  .profile-title {
    margin-top: 80px;
    margin-bottom: 15px;
  }
  .profile-cards {
    gap: 30px;
  }
}

@media screen and (max-width: 880px) {
  .profile-title {
    margin-top: 80px;
    margin-bottom: 15px;
  }
  .profile-cards {
    margin: 0 20px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    background-color: yellowgreen;
  }
}
