.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-cards {
  display: grid;
  width: 100%;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 400px;
  gap: 30px;
  justify-content: center;
}

.project-cards-item {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #fff;
  border-radius: 12px;
  cursor: pointer;
  -webkit-box-shadow: 16px 9px 42px -16px rgba(105, 105, 105, 1);
  -moz-box-shadow: 16px 9px 42px -16px rgba(105, 105, 105, 1);
  box-shadow: 16px 9px 42px -16px rgba(105, 105, 105, 1);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.project-cards-item:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transform: scale(1.025);
}

.project-image {
  width: 100%;
  height: 280px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}

.project-technology-tag {
  border: 1px black solid;
  border-radius: 15px;
  padding: 8px;
  margin-right: 5px;
}

.project-tags-container {
  display: flex;
}

.project-name {
  margin: 10px 0px;
}

.project-card-body {
  height: 100%;
  padding: 0px 10px;
}

.project-item-image {
  border-radius: 12px;
  max-width: 35%;
  margin: 0px 20px;
  object-fit: cover;
  height: 90%;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-item-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.project-item-description {
  max-width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60%;
}

.project-item-title {
  margin: 10px;
}

.project-item-description p {
  text-align: start;
  margin-top: 30px;
}

.flex-left {
  display: flex;
  align-items: center;
}

.project-title {
  margin-top: 120px;
  margin-bottom: 25px;
}
