.technologies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px 0px 20px;
}
.cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 30px;
  margin-top: 25px;
}

.cards_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 16px 9px 42px -16px rgba(105, 105, 105, 1);
  -moz-box-shadow: 16px 9px 42px -16px rgba(105, 105, 105, 1);
  box-shadow: 16px 9px 42px -16px rgba(105, 105, 105, 1);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.cards_item:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transform: scale(1.025);
}

.name {
  margin-top: 15px;
  background-color: transparent;
}

.tech-image {
  /* background-color: transparent; */
}
