.container {
  height: 600px;
}

.navBar {
  background-color: #242424;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.navBar-item {
  padding: 0px 50px;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navBar-item:hover {
  background-color: #121212;
}
