.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navBar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 33px -17px rgba(105, 105, 105, 1);
  font-weight: bold;
  font-size: 20px;
}

.navBar-item {
  padding: 0px 50px;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navBar-item:hover {
  background-color: #e9e9e9;
}

.banner-container {
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  margin-left: 70px;
  height: 460px;
  border-radius: 230px;
  border: 5px black solid;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.profile-image:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transform: scale(1.025);
}

.banner-name {
  font-size: 72px;
}

.banner-profession {
  font-size: 24px;
}

.banner-text-container {
  text-align: center;
  width: 50%;
}
.banner-description {
  margin-top: 10px;
}
.menu-icon-button {
  display: none;
}
.navBar-mobile {
  display: none;
}

@media (max-width: 720px) {
  .container {
    height: auto;
  }
  .navBar-mobile {
    flex-direction: column;
    align-items: center;
    height: 180px;
    box-shadow: 0px 5px 7px 0px rgb(224, 224, 224);
    font-weight: bold;
  }
  .navBar-item-mobile {
    transition: height 5s;
    height: 60px;
    display: flex;
    align-items: center;
  }
  .navBar {
    height: 60px;
    width: 100%;
    display: flex;
    padding-right: 20px;
    justify-content: end;
    font-weight: bold;
  }
  .banner-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .banner-text-container {
    width: 90%;
  }
  .banner-profession {
    margin-top: 10px;
  }
  .profile-image {
    margin: 20px 0;
    height: 350px;
    border-radius: 230px;
    border: 5px black solid;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  .navBar-item {
    display: none;
  }
  .menu-icon-button {
    display: block;
    background-color: transparent;
    border: none;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 19px;
  }
  h6 {
    font-size: 17px;
  }
  p {
    font-size: 16px;
  }
  .banner-name {
    font-size: 32px;
  }

  .banner-profession {
    font-size: 20px;
  }
}
